.mb{
    height: 400px;
    width: 400px;
    background-color: black;
    border-radius: 100%;
    
}




.b1{
    height: 200px;
width: 200px;
background-color: red;
border-top-left-radius: 100%;



}

.b2{
    height: 200px;
width: 200px;
background-color:blue;
margin-left: 200px;
border-bottom-right-radius: 100%;
/* box-shadow: 5px 8px 7px grey; */


}


.b3{
    height: 200px;
width: 200px;
background-color: blue;


margin-top: -200px;
border-bottom-left-radius: 100%;

}

.b4{
    height: 200px;
width: 200px;
background-color: green;
margin-top: -400px;
margin-left: 200px;
border-top-right-radius: 100%;

}
.smalldiv{
    position: relative;
    height: 100px;
    width: 100px;
    background-color: violet;
    top: 50px;
    border-top-right-radius: 100%;
    
    
}